

.paybox {
	max-width: 400px;
	padding: 20px;
	margin:100px auto;
	border: solid 1px gray;
	text-align: center;
}

.pay {


	font-family:Verdana,Arial,Helvetica,sans-serif;
	font-size:12px;
	text-align:left;
	label{
		font-weight:normal;
		cursor: auto;
	}

	.right{
		text-align: right;
	}

	.form {
		border-top:solid 1px black;
		padding-top:20px;
	}

	div.email {
		margin-bottom: 20px;
	}

	.form-row {
		padding-bottom:6px;
	}

	.credit-card-logos{
		width: 90px;
		margin-bottom: 10px;
	}

	.submit-row {
		margin-top:6px;
	}
}

.payLogo {
	font-size: 26px;
	margin-bottom:35px;
}

.paidTrue {
	color: #40C826
}

.payment-errors {
	color: #DD0B0B;
	margin-bottom:10px;
	display: block;
}