{% extends "layouts/default.html" %}

{% if post._.dato.start.format('DD. MMM YYYY') != post._.dato.slutt.format('DD. MMM YYYY') %}
	{% set dato = post._.dato.start.format('DD. MMM YYYY') + post._.dato.slutt.format('DD. MMM YYYY') %}
{% else %}
	{% set dato = post._.dato.start.format('DD. MMM YYYY')%}
{% endif %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="/bower_components/lightslider/dist/css/lightslider.min.css">
{% endblock %}

{% block content %}

<div class="content-normal breadcrumbs">
    <a href="/arrangement">Arrangement</a> >
    <!-- <a href="/turar/tur/{{post.slug}}" class="current">{{post.tittel}}</a> -->
</div>

<div class="content-white article">
	<h1>{{post.tittel}}</h1>

	<p class="ingress">{{post.innhold.utdrag | safe }}</p>

	{% if post.bilder %}
	<div class="slideshow">
	<ul id="light-slider">
		{% for b in post.bilder %}
		<li data-thumb="{{b.src({height:50,width:100,crop:'fill'})}}">
			<img style="width:100%" src="{{b.fill('750', '400', {gravity:'auto'})}}">
		</li>
		{% endfor %}
	</ul>
	</div>
	{% endif %}

	<div class="info row">
		<div class="row">
			{% if post.info.priser %}
			<div class="col-sm-6">
			<p class="strong">{{dato}}
	             </p>
	     <p><span class="plassar"><strong>{{post.plassar.ledige}}</strong> tilgjengelige plassar av {{post.plassar.totalt}}</span></p>

				<h3>Priser</h3>
				<p>{{post.info.priser | safe }}</p>

			</div>
			{% endif %}
			<div class="col-sm-6">
				<h3>Lyst å være med?</h3>
				<p>{{post.info.praktisk | safe }} </p>
				<button class="btn btn-success" ng-click="kontaktopen = true" style="margin-top:10px">Send forespørsel</button>
			</div>
		</div>
		<div class=" row">
			<div class="col-sm-12">
				{% set content="Arrangement: " + post.tittel + "\nDato: " + dato %}
				{% include('includes/minikontakt.html') %}
			</div>
		</div>
	</div>

	<div>{{post.innhold.full | safe }}</div>


	{% if post.turar%}<h3>Relevante turar</h3>{% endif %}
	{% for t in post.turar %}
	<!-- <pre>{{turs}}</pre> -->
	<div class="floatingboat">
	    <div class="row">
	        <div class="col-sm-4">
	            <a href="/tur/{{t.slug}}">
	                <div class="image">

	                <picture>
	                <source media="(min-width: 992px)"
	                  srcset="{{t._.bilde.fill('196', '147', {gravity:'auto'})}}">
	                  <source media="(min-width: 768px)"
	                    srcset="{{t._.bilde.fill('141', '141', {gravity:'auto'})}}">
	                    <source
	                    srcset="{{t._.bilde.fill('635', '170', {gravity:'auto'})}}">
	                  <img src="{{t._.bilde.fill('240', '180', {gravity:'auto'})}}" alt="">
	                </picture>
	                </div>
	            </a>
	        </div>
	        <div class="col-sm-8">
	            <div class="space">
	                <a ng-href="/turar/{{t.slug}}"><h3>{{t.tittel}}</h3></a>
	                <p>{{t.innhold.utdrag}}</p>
	            </div>
	        </div>
	    </div>
	</div>
	{% endfor %}

	{% if post.fbArr %}

	<div class="floatingboat">
	    
	            <div class="space">
	                <h3><i class="fa fa-facebook-official" aria-hidden="true"></i> <a ng-href="{{post.fbArr}}">Facebook-arrangement</a></h3>
	            </div>
	</div>
	{% endif %}
	
	<h2>Kommentarar</h2>
	
	{% include "includes/comments.html" %}

</div>


{% endblock %}
{% block js %}
    <script src="/bower_components/lightslider/dist/js/lightslider.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $("#light-slider").lightSlider({
			    gallery: true,
			    item: 1,

			    loop: false,
			    enableTouch: false,
			    thumbItem: 9
			});
        });
    </script>
{% endblock %}

