{% extends "layouts/default.html" %}
{% import "imports/boats.html" as boat %}

{% if post._.dato.start.format('DD. MMM YYYY') != post._.dato.slutt.format('DD. MMM YYYY') %}
	{% set dato = post._.dato.start.format('DD.') + ' - ' + post._.dato.slutt.format('DD. MMM YYYY') %}
{% else %}
	{% set dato = post._.dato.start.format('DD. MMM YYYY')%}
{% endif %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="/bower_components/lightslider/dist/css/lightslider.min.css">
{% endblock %}

{% block content %}

<div class="breadcrumbs">
    <a href="/">Heim</a> - 
    <a href="/turar">Turar</a> -
    <a href="/arrangement">Arrangement</a> -
    <a href="/arrangement/{{post.slug}}" class="current">{{post.tittel}}</a>
</div>


<div class="article row">
	<div class="col-md-8">
			<h1>{{post.tittel | title}}</h1>
			<p class="ingress">{{post.innhold.utdrag | safe }}</p>

			{% if post.bilder %}
			<div class="slideshow">
			<ul class="light-slider">
				{% for b in post.bilder %}
				<li data-thumb="{{b.src({height:50,width:100,crop:'fill'})}}">
					<img style="width:100%" src="{{b.fill('750', '400', {gravity:'auto'})}}">
				</li>
				{% endfor %}
			</ul>
			</div>
			{% endif %}

			<div>{{post.innhold.full | safe}}</div>
			
			

	</div>
	<div class="col-md-4 class sideinfo">
	{% if post.info.priser | exists %}
		<div>
			<h2>Priser</h2>
			<p>{{post.info.priser | safe }}</p>

		</div>
	{% endif %}
		<div>
			<h2>Lyst å være med?</h2>
			<p class="strong">{{dato}}
	             </p>
	     <p><span class="plassar"><strong>{{post.plassar.ledige}}</strong> tilgjengelige plassar av {{post.plassar.totalt}}</span></p>
			<p>{{post.info.praktisk | safe }} </p>
			<button class="btn btn-success" ng-click="kontaktopen = true" style="margin-top:10px">Send forespørsel</button>
		</div>
		<div class="col-sm-12">
			{% set content="Arrangement: " + post.tittel + "\nDato: " + dato %}
				{% include('includes/minikontakt.html') %}
		</div>
		{% if post.info.preset | exists %}
		<div>
			<p>{{ post.info.preset | smartHeadings('h3') | safe }}</p>
		</div>
		{% endif %}
	</div>
	{% include "includes/comments.html" %}
</div>

				




{% endblock %}
{% block js %}
    <script src="/bower_components/lightslider/dist/js/lightslider.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $("#light-slider").lightSlider({
			    gallery: true,
			    item: 1,

			    loop: false,
			    enableTouch: false,
			    thumbItem: 9
			});
        });
    </script>
{% endblock %}

