{% extends "layouts/default.html" %}

{% block content %}
	

<h1 class="content-normal">Hj&oslash;rundfjord Mountainguide</h1>
<div class="content-white">
{{post.innhold}}
</div>

<div class="content-normal">
<div class="floatingboat">
    <div class="row">
        <div class="col-sm-4">
            <a href="/turar">
            <div class="image">

                <picture>
                <source media="(min-width: 992px)"
                  srcset="{{eksempeltur._.bilde.fill('196', '147', {gravity:'auto'})}}">
                  <source media="(min-width: 768px)"
                    srcset="{{eksempeltur._.bilde.fill('141', '235', {gravity:'auto'})}}">
                    <source
                    srcset="{{eksempeltur._.bilde.fill('635', '170', {gravity:'auto'})}}">
                  <img src="{{eksempeltur._.bilde.fill('240', '180', {gravity:'auto'})}}" alt="">
                </picture>
            </div>
            </a>
        </div>
        <div class="col-sm-8">
            <div class="space">
                <a href="/turar"><h3>Turar</h3></a>
                <div>Sjå alle våre turar her</div>
            </div>
        </div>
    </div>
</div>
</div>

<h2 class="center">Guidar</h2>

{% for t in guidar %}
<div class="content-normal">
<div class="floatingboat">
    <div class="row">
        <div class="col-sm-4">
            <div class="image">

            <picture>	
              <source media="(min-width: 768px)"
                srcset="{{t._.bilde.fill('141', '235', {gravity:'face'})}}">
                <source
                srcset="{{t._.bilde.fill('635', '170', {gravity:'face'})}}">
              <img src="{{t._.bilde.fill('240', '180', {gravity:'face'})}}" alt="">
            </picture>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="space">
                <h3>{{t.namn}}</h3>
                <div>{{t.beskrivelse}}</div>
            </div>
        </div>
    </div>
</div>
</div>
{% endfor %}

{% endblock %}
