{% extends "layouts/default.html" %}
{% import "imports/floating-boat.html" as boat %}

{% block content %}
	

<h1 class="content-normal">Hj&oslash;rundfjord Mountain Guide</h1>
<div class="content-white">
{{post.innhold | safe }}
</div>

<div class="content-normal">

{{ boat.floatingboat("Turar", "Sjå alle våre turar her", "/turar", eksempeltur._.bilde)}}

</div>

<div class="content-normal">

{{ boat.floatingboat("Arrangement", "Sjå alle våre arrangement her", "/arrangement", eksempelarr._.bilde)}}

</div>

<h2 class="center">Guidar</h2>

{% for t in guidar %}

<div class="content-normal">

{{ boat.floatingboat(t.namn, t.beskrivelse, null, t._.bilde)}}

</div>
{% endfor %}

{% endblock %}
