{% extends "layouts/default.html" %}
{% import "imports/boats.html" as boat %}

{% block content %}
	

<h2 class="">Bli med oss på tur!</h1>
<div style="text-align:center">
{{post.innhold | safe }}
</div>

<div class="row promorow">

		<div class="col-sm-6 col promo">
			
			<h3>Turar</h3>
			<p>Vi tilbyr guida turar i Hjørundfjorden og områda rundt.</p>
			<a class="btn btn-success"  href="/turar">
			Vis alle turar
			</a>
		</div>
		<div class="col-sm-6 col promo">
			
			<h3>Overnatting</h3>
			<p>Vi kan skreddersy alt fra overnatting, mat og turopplegg</p>
			<a  class="btn btn-success" href="/overnatting">
			Gå til overnatting
			</a>
		</div>

		<div class="col-sm-12 col promo animation" style="text-align:center;margin-top:60px">
			
			<a class="btn btn-default"  href="https://www.facebook.com/hjorundfjordmountainguide">
			<i class="fa fa-facebook" aria-hidden="true"></i> Følg oss på Facebook
			</a>
		</div>
		<div class="col-sm-12 col promo animation" style="text-align:center">
			
			<a  class="btn btn-default" href="https://www.instagram.com/hjorundfjordmountainguide">
			<i class="fa fa-instagram" aria-hidden="true"></i> Følg oss på Instagram:
			</a>
			<p style="padding-top:10px"> @hjorundfjordmountainguide</p>
		</div>
</div>






{# <div class="row">
	<div class="col-md-6 col  ">
		{{ boat.floatingboat("Turar", "Sjå alle våre turar her", "/turar", eksempeltur._.bilde) }}
	</div>
	<div class="col-md-6 col ">
		{{ boat.floatingboat("Arrangement", "Sjå alle våre arrangement her", "/arrangement", eksempelarr._.bilde)}}
	</div>
</div> #}


{% endblock %}

{% block js %}
	<script src="/js/frontpagescroll.js"></script>
{% endblock %}