{% extends "layouts/default.html" %}


{% block content %}
	<div class="content-normal">
		{% if enquirySubmitted %}
			<h3>Thanks for getting in touch.</h3>
		{% else %}
			<h1>Kontakt</h1>


					<div class="row">
						<div class="col-sm-6" data-uc="mdkontakD">
Du kan kontakte oss her


						</div>
						<div class="col-sm-6">

							
							
							<form class="lars" id="skjema">
								<div class="questions">
									<div class="row">
										<div class="col-xs-6">
											<label for="namn">Navn: </label>
											<input type="text" id="name" name="namn" required>
										</div>
										<div class="col-xs-6">
											<label for="epost">E-post: </label>
											<input type="email" id="email" name="epost" required>
										</div>
									</div>

									<label for="melding">Melding: </label>
									<textarea id="message" rows="8" placeholder="" name="melding" required></textarea>
								</div>
								<div class="message"></div>
								<button type="submit" id="sendmail">Send</button>
							</form>

							


						</div>
					</div>
		{% endif %}
	</div>
{% endblock %}

{% block js %}
<script>
/**

This module handles contact forms

**/
window.contact=(function(){
	//private
	var element;

	function submit(e){
		e.preventDefault();

		$('#skjema .questions').addClass('loading');

		i = 0;
		element.find('button').html("Sender");
		var interval = setInterval(function() {
			i = ++i % 4;
			element.find('button').html("Sender"+Array(i+1).join("."));
		}, 750);

		var data = element.serializeArray();
		console.log(element);
		console.log(data);

		$.ajax({
			url: "postvesen", 
			method: "POST",
			data: data
		}).done(function(response) {
			console.log('successfully posted request: ' + response);
			finished('Melding sendt');
			console.log(response);
			//element.find('*').val('');
		})
		.fail(function() {
			finished('Kunne ikke sende epost. Vennligst send manuelt til kontakt@hjorundfjordmountainguide.no');
		});

		function finished(message){
			clearInterval(interval);
			element.find('.questions').removeClass('loading');

			element.find('button').html('Send');
			element.find('.message').html(message);
		}
	}



	//public:
	return{
		init:function(elm){
			element = $(elm);

			$(element).submit(submit)
		}
	}

}());

contact.init($('#skjema'))
</script>
{% endblock %}