{% extends "layouts/default.html" %}
{% import "imports/boats.html" as boat %}
{% import "imports/breadcrumbs.html" as breadcrumb %}

{% block content %}

{{ breadcrumb.normal(brelements) }}


<h1>Turar</h1>
<div class="motherboat">
	{% for t in kategoriar %}
		{% if t.tittel == 'Arrangement' %}
			{{ boat.betaboat(t.tittel, t.beskrivelse, "/turar/arrangement", t._.bilde) }}
		{% else %}
			{{ boat.betaboat(t.tittel, t.beskrivelse, "/turar/" + t.slug, t._.bilde) }}
		{% endif %}
	{% endfor %}
	
	<div class="betaboat"></div>
	<div class="betaboat"></div>
	<div class="betaboat"></div>
</div>



{% endblock %}
