{% extends "layouts/default.html" %}
{% import "imports/boats.html" as boat %}


{% block content %}
<div class="breadcrumbs">
    <a href="/">Heim</a> - 
    <a class="current" href="/turar">Turar</a>
</div>

<h1>Turar</h1>
<div class="motherboat">
	{% for t in kategoriar %}
		{% if t.tittel == 'Arrangement' %}
			{{ boat.betaboat(t.tittel, t.beskrivelse, "/arrangement", t._.bilde) }}
		{% else %}
			{{ boat.betaboat(t.tittel, t.beskrivelse, "/turar-kategori/" + t.slug, t._.bilde) }}
		{% endif %}
	{% endfor %}
	
	<div class="betaboat"></div>
	<div class="betaboat"></div>
	<div class="betaboat"></div>
</div>



{% endblock %}
