{% extends "layouts/default.html" %}

{% block content %}

<div class="breadcrumbs">
    <a href="/">Heim</a> - 
    <a href="/turar">Turar</a> - <a href="/turar-kategori/{{kategori}}">{{kategori | capitalize}}</a>
    -
    <a href="/turar/{{post.slug}}" class="current">{{post.tittel | title}}</a>
</div>

<div class="article row">
	<div class="col-md-8">
			<h1>{{post.tittel | title}}</h1>
			<p class="ingress">{{post.innhold.utdrag | safe }}</p>

			{% if post.bilder %}
			<div class="slideshow">
			<ul class="light-slider">
				{% for b in post.bilder %}
				<li data-thumb="{{b.src({height:50,width:100,crop:'fill'})}}">
					<img style="width:100%" src="{{b.fill('750', '400', {gravity:'auto'})}}">
				</li>
				{% endfor %}
			</ul>
			</div>
			{% endif %}

			<div>{{post.innhold.full | smartHeadings('h2') | safe}}</div>
			
			

	</div>
	<div class="col-md-4 class sideinfo">
	{% if post.info.priser | exists %}
		<div>
			<h2>Priser</h2>
			<p>{{post.info.priser | safe }}</p>

		</div>
	{% endif %}
		<div>
			<h2>Lyst å være med?</h2>
			<p>{{post.info.praktisk | safe }} </p>
			<button class="btn btn-success" ng-click="kontaktopen = true" style="margin-top:10px">Send forespørsel</button>
		</div>
		<div class="col-sm-12">
			{% set content="Tur: " + post.tittel %}
			{% include('includes/minikontakt.html') %}
		</div>
		{% if post.info.preset | exists %}
		<div>
			<p>{{ post.info.preset | smartHeadings('h3') | safe }}</p>
		</div>
		{% endif %}
	</div>
	{% include "includes/comments.html" %}
</div>


{% endblock %}
{% block js %}
	{% include "includes/light-slider.html" %}
{% endblock %}

