{% extends "layouts/default.html" %}
{% import "imports/boats.html" as boat %}
{% import "imports/breadcrumbs.html" as breadcrumb %}

{% block content %}

{{ breadcrumb.normal(brelements, domain) }}


<h1>{{kategori | capitalize}}</h1>



	<div class="motherboat">
		{% for t in turs %}

		{{ boat.betaboat(t.tittel, t.innhold.utdrag, "/turar/" + kategori + "/" + t.slug, t._.bilde) }}

		{% endfor %}
		
		<div class="betaboat"></div>
		<div class="betaboat"></div>
		<div class="betaboat"></div>
	</div>

{% endblock %}