{% extends "layouts/default.html" %}


{% block content %}
<div class="content-normal">
<div class="breadcrumbs">
    <a href="/turar">Turar</a> >
    <a href="/turar/{{kategori}}" class="current">{{kategori | capitalize}}</a>
</div>

<h1>{{kategori | capitalize}}</h1>


{% for t in turs %}
<!-- <pre>{{turs}}</pre> -->
<div class="floatingboat">
    <div class="row">
        <div class="col-sm-4">
            <a href="/turar/tur/{{t.slug}}">
                <div class="image">

                <picture>
                <source media="(min-width: 992px)"
                  srcset="{{t._.bilde.fill('196', '147', {gravity:'auto'})}}">
                  <source media="(min-width: 768px)"
                    srcset="{{t._.bilde.fill('141', '235', {gravity:'auto'})}}">
                    <source
                    srcset="{{t._.bilde.fill('635', '170', {gravity:'auto'})}}">
                  <img src="{{t._.bilde.fill('240', '180', {gravity:'auto'})}}" alt="">
                </picture>
                </div>
            </a>
        </div>
        <div class="col-sm-8">
            <div class="space">
                <a ng-href="/turar/tur/{{t.slug}}"><h3>{{t.tittel}}</h3></a>
                <p>{{t.innhold.utdrag}}</p>
            </div>
        </div>
    </div>
</div>
{% endfor %}

</div>
{% endblock %}
