{% extends "layouts/utensidebar.html" %}
{% import "imports/floating-boat.html" as boat %}

{% block content %}
<div class="content-normal">
<div class="breadcrumbs">
    <a href="/turar">Turar</a> >
    <a href="/turar-kategori/{{kategori}}" class="current">{{kategori | capitalize}}</a>
</div>

<h1>{{kategori | capitalize}}</h1>



	<div class="motherboat">
		{% for t in turs %}

		{{ boat.betaboat(t.tittel, t.innhold.utdrag, "/turar/" + t.slug, t._.bilde) }}

		{% endfor %}
		
		<div class="betaboat"></div>
		<div class="betaboat"></div>
		<div class="betaboat"></div>
	</div>

</div>
{% endblock %}