{% import "mixins/flash-messages.html" as FM %}
{% import "imports/tags.html" as tag %}

<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">

		<title>{{ title | default("Hjørundfjord Mountain Guide") }}</title>
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">

		<meta name="description" content="{{metaDesc}}">

		{% if metaImg %}
		<meta property="og:image" content="{{metaImg.secure_url}}" />
		{% endif %}


		{{ tag.css("/css/css.css", true) }}

		{% include "includes/loadCssJs.html" %}

		<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.5.18/webfont.js"></script>
		<script>
		 WebFont.load({
		    google: {
		      families: ['Raleway:300,400,600']
		    }
		  });
		</script>

		{# This file provides the default styling for the KeystoneJS Content Editor #}
		{% if user and user.canAccessKeystone %}
		{% endif %}

		{# Include template-specific stylesheets by extending the css block #}
		{% block css %}{% endblock %}

		{# Add any other template-specific HEAD tags by extending the head block #}
		{% block head %}{% endblock %}
	</head>
	
	<body>
	
	<div id="wrapper">
		{# HEADER #}
		{% include "includes/top.html" %}
		

		{# HERO #}
		{% if post.headerbilde | exists %}
			<div class="hero">
				<div class="gradient {{ 'fullpage' if section == 'heim' }}"></div>
				<!-- <pre></pre> -->
				{% if section == 'heim' %}
				
					<div class="background-hero">
						{{ tag.backgroundImage('.background-hero',post._.headerbilde) }}
						<div class="welcome">
							<div class="container">
								<span>Velkommen til</span>
								<h1>Hjørundfjord Mountain Guide</h1>

							</div>
						</div>
							<a class="icon-arrow" href="#body"><div></div></a>
					</div>
				{% else %}
					<div class="imgCont">
						<picture class="img">
		                	<source media="(min-width: 992px)"
		                	srcset="{{post._.headerbilde.fill(1200,400,{gravity:'center'})}}">
		                	<source media="(min-width: 768px)"
		                    srcset="{{post._.headerbilde.fill(1000,400,{gravity:'center'})}}">
		                    <source
		                    srcset="{{post._.headerbilde.fill(768,768,{gravity:'center'})}}">
						<img src="{{post._.headerbilde.fill(768,768,{gravity:'center'})}}" class=""/>
		                </picture>
					</div>
				{% endif %}
				
			</div>
		{% endif %}

		{# BODY #}
		<div id="body">
			{# NOTE:
			   There is no .container wrapping class around body blocks to allow more flexibility in design.
			   Remember to include it in your templates when you override the intro and content blocks! #}


			{# The content block should contain the body of your template"s content #}
			

			<div class="container-fluid space">
				<div class="container main-section">
					<div class="row overflowfix">
						{% block main %}
							<div class="col-md-12 overflowfix col">
								<div>
									{% block content %}{% endblock %}

									<!-- <div class="col-sm-12 col spons">
										<p>Kontakt oss for eit skreddarsydd opplegg.</p>
										<a class="btn btn-info"  href="/kontakt">
										Kontakt oss
										</a>
									</div> -->
								</div>
							</div>

						{% endblock %}
					</div>
				</div>
			</div>

	</div>

	{% include "includes/footer.html" %}
		
		{# tag.css("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css") #}

	{# JAVASCRIPT #}

			{# jQuery 1.11.3 is included by default, and required by both Bootstrap
				and the KeystoneJS Content Editor. If you are not targeting IE8,
				you can upgrade to 2.1.4 (also bundled) for better performance. #}
			<script src="/js/jquery/jquery-1.11.3.min.js"></script>

			{# Customise which Bootstrap javascript files are served by including
				them specifically here, instead of bootstrap-3.3.5.min.js #}
			<!-- <script src="/js/bootstrap/bootstrap-3.3.5.min.js"></script> -->


			{# Add scripts that are globally required by your site here. #}

			
			<script type="text/javascript" src="/js/angular.js"></script>

			<!-- calendar -->
			<!-- <link rel="stylesheet" href="/bower_components/fullcalendar/dist/fullcalendar.min.css">
			<script src="/bower_components/moment/min/moment.min.js"></script>
			<script src="/bower_components/moment/locale/nb.js"></script>
			<script src="/bower_components/fullcalendar/dist/fullcalendar.min.js"></script>
			<script src="/bower_components/fullcalendar/dist/lang/nb.js"></script>
 -->
			<script>
			// $(document).ready(function(){
			// 	$('#calendar').fullCalendar({
			// 		lang: 'nb',
			// 		fixedWeekCount: false,
			// 		titleFormat: "MMMM",
			// 		weekNumbers: false,
			// 		height: 330,
			// 		// dayClick: $scope.dayClick,
			// 		// eventClick: $scope.eventClick,
			// 		events: '/kalender/get-events',
			// 		header:{
			// 			left: 'title',
			// 			center: '',
			// 			right: 'prev next'
			// 		}
			// 	});
				
			// })

			$("a[href^='http']").attr("target","_blank");
			</script>

			{# Include template-specific javascript files by extending the js block #}
			{% block js %}{% endblock %}

			
			<script src="/js/kontakt.js"></script>
			


		
			<script>
				$(function() {
				  $('a[href*="#"]:not([href="#"])').click(function() {
				    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
				      var target = $(this.hash);
				      target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
				      if (target.length) {
				        $('html, body').animate({
				          scrollTop: target.offset().top
				        }, 1000);
				        return false;
				      }
				    }

				 //    document.querySelector('#body').scrollIntoView({ 
					//   behavior: 'smooth' 
					// });
				  });
				});
			</script>
		
			<!-- Piwik -->
			<script type="text/javascript">
			  var _paq = _paq || [];
			  _paq.push(["setDomains", ["*.hjorundfjordmountainguide.no"]]);
			  _paq.push(['trackPageView']);
			  _paq.push(['enableLinkTracking']);
			  (function() {
			    var u="//analytics.larskarbo.no/";
			    _paq.push(['setTrackerUrl', u+'piwik.php']);
			    _paq.push(['setSiteId', 2]);
			    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
			    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
			  })();
			</script>
			<noscript><p><img src="//analytics.larskarbo.no/piwik.php?idsite=2" style="border:0;" alt="" /></p></noscript>
			<!-- End Piwik Code -->
	</body>
</html>
