{% import "mixins/flash-messages.html" as FM %}

<!doctype html>
<html ng-app="myApp">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">

		<title>{{ title|default("Hjørundfjord mountainguide") }}</title>
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">

		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="/css/css.css">

		{# This file provides the default styling for the KeystoneJS Content Editor #}
		{% if user and user.canAccessKeystone %}
			<link href="/keystone/styles/content/editor.min.css" rel="stylesheet">
		{% endif %}

		{# Include template-specific stylesheets by extending the css block #}
		{% block css %}{% endblock %}

		{# Add any other template-specific HEAD tags by extending the head block #}
		{% block head %}{% endblock %}
	</head>
	<body>
	
	<div id="wrapper">

		{# HEADER #}
		<div class="top-wrapper open" ng-controller="navCtrl">
			<div class="top open">
				<div class="container open">
					<div class="logo">
							hmg
					</div>
					<div>
						<ul class="navigasjon" ng-class="{open:openMenu,light:true}">
							{% for link in navLinks %}
								<li>
									<a  class="{{ 'active' if link.key == section else '' }}"href="{{ link.href }}">{{ link.label }}</a>
								</li>
							{% endfor %}
						</ul>

						<div class="hamburger" ng-class="{open:openMenu,light:true}" ng-click="openMenu = !openMenu">
							  <span></span>
							  <span></span>
							  <span></span>
							  <span></span>
						</div>
					</div>

				</div>
			</div>
		</div>

		{# HERO #}

		{% if post.bilde %}
			<div class="hero">
				<div class="gradient">

				</div>
				<!-- <pre></pre> -->
				<div class="imgCont">
					<picture class="img">
	                	<source media="(min-width: 992px)"
	                	srcset="{{post._.bilde.fill(1200,400,{gravity:'auto:no_faces'})}}">
	                	<source media="(min-width: 768px)"
	                    srcset="{{post._.bilde.fill(1000,400,{gravity:'auto:no_faces'})}}">
	                    <source
	                    srcset="{{post._.bilde.fill(768,768,{gravity:'auto:no_faces'})}}">
					<img src="{{post._.bilde.fill(768,768,{gravity:'auto:no_faces'})}}" class=""/>
	                </picture>
				</div>
				
			</div>
		{% endif %}

		{# BODY #}
		<div id="body">
			{# NOTE:
			   There is no .container wrapping class around body blocks to allow more flexibility in design.
			   Remember to include it in your templates when you override the intro and content blocks! #}

			{# The Intro block appears above flash messages (used for temporary information display) #}
			{% block intro %}{% endblock %}

			{# Flash messages allow you to display once-off status messages to users, e.g. form
			   validation errors, success messages, etc. #}
			{{ FM.flashMessages(messages) }}

			{# The content block should contain the body of your template"s content #}
			

			<div class="container-fluid space">
				<div class="container main-section">
						<div class="row">
							<div class="col-sm-9">
								<div>
									{% block content %}{% endblock %}
								</div>
							</div>
							<div class="sidebar col-sm-3">
								{% for s in sidebar %}
								{{s.tittel}}
								{{s.tekst}}
								{% endfor %}
							</div>
				</div>
			</div>
		</div>

	</div>


		{# FOOTER #}
		<footer>
		  <div class="footer-content">
		    <p>&copy; 2016 Hjørundfjord Mountainguide</p>
		  </div>
		</footer>


		{# JAVASCRIPT #}

		{# jQuery 1.11.3 is included by default, and required by both Bootstrap
			and the KeystoneJS Content Editor. If you are not targeting IE8,
			you can upgrade to 2.1.4 (also bundled) for better performance. #}
		<script src="/js/jquery/jquery-1.11.3.min.js"></script>

		{# Customise which Bootstrap javascript files are served by including
			them specifically here, instead of bootstrap-3.3.5.min.js #}
		<script src="/js/bootstrap/bootstrap-3.3.5.min.js"></script>

		{# The KeystoneJS Content Editor provides support for ks-editable data attributes,
			which generate links to edit content for users who can access Keystone #}
		{% if user and user.canAccessKeystone %}
			<script src="/keystone/js/content/editor.js"></script>
		{% endif %}

		{# Add scripts that are globally required by your site here. #}

		
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.js"></script>
		<script type="text/javascript" src="/js/angular.js"></script>


		{# Include template-specific javascript files by extending the js block #}
		{% block js %}{% endblock %}
	
	</body>
</html>
