@import "https://fonts.googleapis.com/css?family=Raleway:300,400,600";
@keyframes fade-from-right {
  0% {
    opacity: 0;
    transform: translateX(20px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }
html, body {
  height: 100%;
  background-color: white; }

.top-wrapper a:link, .top-wrapper a:visited {
  color: white; }
.top-wrapper .top {
  top: 0;
  width: 100%;
  z-index: 10000;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  background: #242422; }
  .top-wrapper .top .container {
    display: flex;
    align-items: center;
    justify-content: center; }
    .top-wrapper .top .container .navigasjon {
      width: 100%; }

.logo img {
  height: 50px;
  margin-top: 10px;
  margin-bottom: 10px; }
@media only screen and (min-width: 768px) {
  .logo img {
    height: 80px; } }

.hamburger {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 22px;
  right: 30px;
  z-index: 2000;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer; }
  .hamburger.light span {
    background: white; }
  .hamburger span {
    display: block;
    position: absolute;
    height: 5px;
    width: 100%;
    background: white;
    border-radius: 0px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out; }
    .hamburger span:nth-child(1) {
      top: 0px; }
    .hamburger span:nth-child(2), .hamburger span:nth-child(3) {
      top: 12px; }
    .hamburger span:nth-child(4) {
      top: 24px; }
  .hamburger.open span:nth-child(1) {
    top: 12px;
    width: 0%;
    left: 50%; }
  .hamburger.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg); }
  .hamburger.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg); }
  .hamburger.open span:nth-child(4) {
    top: 12px;
    width: 0%;
    left: 50%; }

.navigasjon {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  min-height: 100vh;
  background: #242422;
  z-index: 1000;
  visibility: hidden;
  margin: 0;
  padding: 69px 30px 10px; }
  .navigasjon.open {
    visibility: visible; }
  .navigasjon a.disabled {
    cursor: text; }
  .navigasjon li {
    display: block; }
    .navigasjon li a {
      width: 100%;
      display: inline-block;
      padding: 24px 20px 16px;
      text-transform: uppercase;
      border-bottom: transparent 4px solid;
      letter-spacing: 0.5px; }
      .navigasjon li a.active {
        text-decoration: none;
        border-bottom: solid 4px #1784c7;
        font-weight: bold; }
        .navigasjon li a.active:hover {
          border-bottom: solid 4px #1784c7; }
    .navigasjon li a:link, .navigasjon li a:visited {
      text-decoration: none; }
    .navigasjon li a:hover {
      text-decoration: none;
      border-bottom: solid 4px rgba(207, 207, 207, 0.2); }

@media only screen and (min-width: 768px) {
  .hamburger {
    display: none; }

  .navigasjon {
    visibility: visible;
    position: static;
    background: transparent;
    display: block;
    list-style: none;
    margin: 0;
    text-align: right;
    font-size: 14px;
    padding: 0;
    min-height: auto; }
    .navigasjon .inner-wrap {
      float: right; }
    .navigasjon li {
      float: left;
      margin-right: 4px; }
      .navigasjon li:hover ul {
        display: block; }
      .navigasjon li ul {
        display: none;
        background: white;
        position: absolute;
        border-top: solid 4px #1784c7;
        margin-top: -4px;
        text-align: left;
        padding: 10px 0 0;
        box-shadow: 0px 0px 5px #888888;
        margin-right: 2px; }
        .navigasjon li ul li {
          display: block;
          float: none; }
          .navigasjon li ul li a, .navigasjon li ul li a:link, .navigasjon li ul li a:visited {
            color: black;
            padding: 9px 17px 7px;
            width: 100%; }
          .navigasjon li ul li a:hover {
            border-bottom-color: #ececec; }
      .navigasjon li a {
        width: auto;
        padding: 24px 15px 10px; } }
.leaflet-popup-content img {
  width: 100px; }

.lars {
  margin-bottom: 25px; }

.lars label {
  display: block;
  font-weight: normal;
  margin: 0; }

.lars input {
  line-height: 1.5; }

.lars input, .lars textarea {
  width: 100%;
  max-width: 600px;
  font-family: 'Belleza', sans-serif;
  font-size: 15px;
  margin-bottom: 15px; }

.lars .questions.loading {
  opacity: 0.5; }

.hero {
  background-color: gray;
  position: relative;
  overflow: hidden; }
  .hero.noImg {
    height: 300px; }
  .hero .gradient {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.4), transparent 40%, transparent 60%, rgba(0, 0, 0, 0.3));
    height: 100%;
    width: 100%;
    position: absolute;
    bottom: 0; }
    .hero .gradient.fullpage {
      background-image: none;
      background-color: rgba(0, 0, 0, 0.4); }
  .hero .imgCont {
    display: flex;
    align-items: center;
    max-height: 400px; }
    .hero .imgCont .img, .hero .imgCont img {
      width: 100%; }
  .hero .background-hero {
    height: 50vh;
    background-size: cover; }
    .hero .background-hero div.welcome {
      position: absolute;
      top: 30%;
      width: 100%;
      text-align: center;
      animation: fadeandmoveup ease 0.8s; }
      .hero .background-hero div.welcome, .hero .background-hero div.welcome h1 {
        color: white; }
      .hero .background-hero div.welcome h1 {
        font-size: 50px;
        font-weight: bold; }
      .hero .background-hero div.welcome span {
        font-size: 25px; }
    .hero .background-hero a.icon-arrow {
      display: block;
      position: absolute;
      z-index: 100;
      bottom: 45px;
      left: 50%;
      margin-left: -22px;
      width: 44px;
      height: 44px;
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
      -webkit-animation: bounce 4s 2s infinite;
      animation: bounce 4s 2s infinite; }
      .hero .background-hero a.icon-arrow div {
        position: absolute;
        top: 13px;
        left: 8px;
        right: 13px;
        bottom: 8px;
        margin: 0;
        padding: 0;
        width: auto;
        border-color: rgba(255, 255, 255, 0.8);
        border-style: none none solid solid;
        border-width: 3px; }
      .hero .background-hero a.icon-arrow:hover div {
        border-color: white; }
  @media only screen and (min-width: 768px) {
    .hero .background-hero {
      height: calc(100vh - 100px);
      background-size: cover; } }

.blogg h1, .blogg h2 {
  text-transform: uppercase;
  text-align: center;
  font-size: 25px;
  color: #2d2d2d;
  border-bottom: solid 1px #909090;
  padding-bottom: 6px;
  margin: 20px 0 10px; }
.blogg .dato {
  text-align: center;
  color: black;
  font-size: 15px;
  margin: -5px 0; }
.blogg p {
  font-size: 15px; }

body {
  font-family: 'Raleway', sans-serif;
  font-size: 18px; }

h1 {
  font-size: 50px;
  text-align: center;
  color: black;
  margin: 10px 0px 25px;
  font-weight: bold; }

h2 {
  text-align: center;
  font-weight: 300;
  font-size: 40px; }

h2.consize {
  font-weight: bold;
  text-align: left;
  font-size: 20px;
  padding-top: 10px; }

p {
  font-weight: 300;
  line-height: 1.5;
  color: black;
  font-size: 15px; }

.strong {
  font-weight: bold; }

.breadcrumbs {
  margin-bottom: 19px;
  margin-top: 0;
  padding-top: 0; }
  .breadcrumbs a {
    border: solid 2px #464646;
    padding: 5px 10px;
    color: black; }
  .breadcrumbs a.current {
    color: white;
    background-color: #464646; }

.white-container {
  padding: 14px 30px 20px;
  margin: 10px 0px 20px;
  background: white; }

.article .ingress {
  font-weight: bold;
  font-size: 16px; }
.article .slideshow {
  padding: 25px 0 30px; }
.article .content {
  padding-top: 20px; }
.article .info {
  border: solid 1px;
  padding: 20px 10px;
  margin: 20px 0; }
  .article .info p {
    font-size: 14px; }
  .article .info .minifont {
    padding-top: 10px;
    color: black; }
.article h1 {
  text-align: left; }
.article h2 {
  text-align: left;
  font-size: 25px;
  font-weight: bold;
  color: #333;
  margin: 14px 0px 12px; }
.article .sideinfo {
  background-color: #f4f3ff;
  padding: 11px 15px 25px;
  margin-top: 25px; }
  .article .sideinfo h3 {
    font-size: 17px;
    text-transform: uppercase; }
  .article .sideinfo p {
    font-size: 14px; }
@media only screen and (min-width: 992px) {
  .article .sideinfo {
    padding: 1px 15px 15px;
    margin-top: 0; } }
.article .fb-comments {
  margin-top: 50px;
  margin-left: 10px; }

footer {
  position: relative;
  background-color: #242422;
  height: 400px;
  text-align: center;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0; }
  footer p {
    color: #d4d4d4; }
  footer .footer-content {
    position: absolute;
    bottom: 0;
    padding-bottom: 20px;
    width: 100%; }
  footer img {
    padding-bottom: 15px;
    width: 200px; }

html, body {
  margin: 0;
  padding: 0;
  height: 100%; }

#wrapper {
  min-height: 100%;
  position: relative; }

.container {
  max-width: 1170px; }

.container-fluid.space {
  padding: 0px; }

.hidden {
  display: none; }

.main-section {
  margin-top: 30px;
  margin-bottom: 430px; }

.spons {
  margin-top: 50px;
  text-align: center; }

.floatingboat {
  background-color: white;
  border: solid 1px #dce5eb;
  margin-bottom: 25px;
  padding: 0px; }
  .floatingboat .image img {
    width: 100%;
    height: auto; }
  .floatingboat .space {
    padding: 10px 15px; }

@media only screen and (min-width: 768px) {
  .floatingboat {
    background-color: white;
    border: solid 1px #dce5eb;
    margin-bottom: 25px;
    padding-right: 10px; }
    .floatingboat .image img {
      width: 100%;
      height: auto;
      max-width: 240px; } }
.motherboat {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 -25px -25px; }

.betaboat {
  flex-basis: 250px;
  flex-grow: 1;
  animation: fadeandmoveup 0.5s;
  margin: 0 25px 25px;
  padding: 0px; }
  .betaboat:empty {
    height: 0; }
  .betaboat .image {
    min-height: 200px; }
    .betaboat .image img {
      width: 100%;
      height: auto; }
  .betaboat .space {
    padding: 10px 15px; }
  .betaboat h3 {
    font-size: 26px;
    color: black; }

.promorow {
  padding: 50px 0px 50px; }

.promo {
  text-align: center;
  padding-bottom: 14px; }
  .promo.animation {
    visibility: hidden; }
    .promo.animation.start {
      position: relative;
      animation: flyfadein 0.6s;
      visibility: visible; }
  .promo h3 {
    font-weight: bold;
    color: black; }
  .promo a {
    color: white;
    text-decoration: none; }

i.fa.bigicon {
  font-size: 90px;
  float: left;
  padding-right: 20px;
  padding-bottom: 20px; }

#map {
  height: 400px; }

.sidebar {
  height: 100%;
  margin-top: 30px;
  font-size: 16px; }
  .sidebar .sidebar-container {
    background-color: white;
    overflow: hidden;
    padding: 14px 28px; }
  .sidebar h3 {
    font-size: 20px; }

.plassar {
  border: solid 2px #61da61;
  background-color: #ecffed;
  padding: 3px; }

.history {
  color: #3f4042; }

img.icon.full-width {
  width: 100%;
  margin-top: 20px; }

.smallCalendar .fc-view-container {
  font-size: 13px; }
@media only screen and (min-width: 992px) {
  .smallCalendar .fc-view-container {
    font-size: 9px; } }
.smallCalendar .fc-scroller {
  overflow-y: hidden !important; }

.ruteliste.calendar-event-view {
  padding-top: 20px; }
  .ruteliste.calendar-event-view li {
    border: none;
    background-color: #fafafa;
    width: 180px;
    animation: fade-from-right 0.7s; }
  .ruteliste.calendar-event-view h3 {
    margin: 0;
    background-color: #1784c7;
    color: white;
    font-size: 18px;
    padding: 4px;
    margin-bottom: 10px; }

.breadcrumbs {
  margin-bottom: 19px;
  margin-top: 0;
  padding-top: 0; }
  .breadcrumbs a {
    border: solid 2px #464646;
    padding: 5px 10px;
    color: black; }
  .breadcrumbs a.current {
    color: white;
    background-color: #464646; }

.white-container {
  padding: 14px 30px 20px;
  margin: 10px 0px 20px;
  background: white; }

.article .ingress {
  font-weight: bold;
  font-size: 16px; }
.article .slideshow {
  padding: 25px 0 30px; }
.article .content {
  padding-top: 20px; }
.article .info {
  border: solid 1px;
  padding: 20px 10px;
  margin: 20px 0; }
  .article .info p {
    font-size: 14px; }
  .article .info .minifont {
    padding-top: 10px;
    color: black; }
.article h1 {
  text-align: left; }
.article h2 {
  text-align: left;
  font-size: 25px;
  font-weight: bold;
  color: #333;
  margin: 14px 0px 12px; }
.article .sideinfo {
  background-color: #f4f3ff;
  padding: 11px 15px 25px;
  margin-top: 25px; }
  .article .sideinfo h3 {
    font-size: 17px;
    text-transform: uppercase; }
  .article .sideinfo p {
    font-size: 14px; }
@media only screen and (min-width: 992px) {
  .article .sideinfo {
    padding: 1px 15px 15px;
    margin-top: 0; } }
.article .fb-comments {
  margin-top: 50px;
  margin-left: 10px; }

.overflowfix.row {
  margin-right: 0; }

.overflowfix.col {
  padding-right: 0; }

p a:link, p a:visited {
  color: #3a3aef;
  text-decoration: underline; }

a:hover {
  text-decoration: underline; }

a:active {
  color: #751304; }

a.btn-default:link, a.btn-default:visited {
  color: black; }

@keyframes fadeandmoveup {
  from {
    margin-top: 20px;
    opacity: 0; }
  to {
    margin-top: 0px;
    opacity: 1; } }
@keyframes flyfadein {
  from {
    left: 200px;
    opacity: 0; }
  to {
    left: 0px;
    opacity: 1; } }
@keyframes bounce {
  0%, 10%, 25%, 40%, 50% {
    -webkit-transform: translateY(0) rotate(-45deg);
    transform: translateY(0) rotate(-45deg); }
  20% {
    -webkit-transform: translateY(-10px) rotate(-45deg);
    transform: translateY(-10px) rotate(-45deg); }
  30% {
    -webkit-transform: translateY(-5px) rotate(-45deg);
    transform: translateY(-5px) rotate(-45deg); } }

/*# sourceMappingURL=css.css.map */
