$font-size: 18px;
$narrow: 350px;

$padding-left: 120px;
$max-page-width: 1170px;

$background-top: #242422;

$top-height-small: 70px;
$top-height-big: 100px;

$color-1: #3e454c; // Mako
$color-2: #1784c7; // Denim
$color-3: #ffffff; // White
$color-4: #ff7e66; // Salmon
