// breakpoints

$S:     480px;
$SM:     768px;
$MD:     992px;

// media queries

@mixin MQ($canvas) {
  @if $canvas == S {
   @media only screen and (min-width: $S) { @content; }
  }
  @else if $canvas == SM {
   @media only screen and (min-width: $SM) { @content; }
  }
  @else if $canvas == MD {
   @media only screen and (min-width: $MD) { @content; }
  }
}
