{# FOOTER #}
		<footer>
		  <div class="footer-content">
		  <div class="row">

			  <div class="col-md-12 col">
		  	<img src="/images/logo200inv.png" />
		    <p class="strong">Hjørundfjord Mountain Guide</p>
		    <p>kontakt@hjorundfjordmountainguide.no</p>
		    <p>Tlf: 45235902</p>
		    <p>Org.nr: 916 308 736</p>

		    <p style="padding-top:12px;margin-bottom:0">Nettside og design av <strong>Lars Kvam Karbø</strong></p>

			  </div>
			  
		  </div>

		  </div>
		</footer>