
<div ng-cloak ng-class="{hidden: !kontaktopen}" style="padding-top:10px">

	{% include('includes/form.html') %}
	<p>Du kan også kontakte oss gjennom <i class="fa fa-facebook-official" aria-hidden="true"></i> <a href="https://www.facebook.com/Hj%C3%B8rundfjord-Mountainguide-965694193515655/">Facebook</a></p>
	<p>Epost: <i class="fa fa-envelope" aria-hidden="true"></i> kontakt@hjorundfjordmountainguide.no</p>
	<p>Tlf: <i class="fa fa-phone-square" aria-hidden="true"></i> 45235902</p>
</div>