
<div class="can-be-open minikontakt">
	<h2>Kontakt oss</h2>
	<p><strong>Epost:</strong> kontakt@hjorundfjordmountainguide.no</p>
	<p><strong>Tlf:</strong> +47 45235902 eller +47 95065934</p>
	<p><strong>Kontaktskjema</strong></p>
	<form class="lars-mini" id="skjema">
		<div class="form-group">
		    <label for="namn">Navn: </label>
			<input type="text" id="name" name="namn" required>
		</div>
		<div class="form-group">
			<label for="epost">E-post: </label>
			<input type="email" id="email" name="epost" required>
		</div>
		<div class="form-group">
			<label class="block" for="melding">Melding: </label>
			<textarea id="message" rows="8" placeholder="" name="melding" required>{{content | title}}</textarea>
		</div>
		<div class="message"></div>
		<button type="submit" class="btn btn-success" id="sendmail">Send</button>
	</form>

</div>