<div class="top-wrapper open">
			<div class="top open">
				<div class="container open">
					<div class="logo">
							<a href="/">
								<picture class="img">
				                	<source media="(max-width: 768px)"
				                	srcset="/images/logo50inv.png">
				                    <source
				                    srcset="/images/logo80inv.png">
								<img src="/images/logo80inv.png" class=""/>
				                </picture>
				                </a>
					</div>
					<ul class="navigasjon light ismenuopen">
						<div class="inner-wrap">
							{% for link in navLinks %}
								{% if not link.children %}
								<li>
									<a  class="{{ 'active' if link.key == section else '' }}"href="{{ link.href }}">{{ link.label }}</a>
								</li>
								{% else %}
								<li>
									<a href="#" class="disabled
									{% for child in link.children %}{{ 'active' if child.key == section}}{% endfor %}
									">{{link.label}} <span class="caret"></span></a>
									<ul class="children">
										{% for child in link.children %}
										<li>
											<a  class="{{ 'active' if child.key == section}}" href="{{ child.href }}">{{ child.label }}</a>
										</li>
										{% endfor %}
									</ul>
								</li>
								{% endif %}
							{% endfor %}
						</div>
					</ul>
					<div class="hamburger light ismenuopen" onclick="toggleMenu()">
						  <span></span>
						  <span></span>
						  <span></span>
						  <span></span>
					</div>

				</div>
			</div>
		</div>