
.breadcrumbs {
	margin-bottom: 19px;
	margin-top: 0;
	padding-top: 0;

	a {
		border: solid 2px #464646;
		padding:5px 10px;
		// border-right: none;
		color:black;
	}

	a.current {
		color:white;
		background-color: #464646;
	}
}


.white-container {
	padding: 14px 30px 20px;
	margin: 10px 0px 20px;
	background: white;
}

.article {
	.ingress {
		font-weight: bold;
		font-size: 16px; 
	}


	.slideshow{
		padding: 25px 0 30px;
	}

	.content{
		padding-top: 20px
	}

	.info{
		border: solid 1px;
	    padding: 20px 10px;
	    margin: 20px 0;

		p{font-size: 14px;}
	    .minifont{
		    padding-top: 10px;
		    color: black;
	    }
	}
	h1 {
		text-align: left
	}
	h2 {
		text-align: left;
		font-size: 25px;
		font-weight: bold;
		color:#333;
		margin: 14px 0px 12px;
	}

	.sideinfo {
		background-color: #f4f3ff;
		padding: 11px 15px 25px;
		margin-top: 25px;

		h3 {
			font-size: 17px;
			text-transform: uppercase;
		}
		p {
			font-size:14px
		}
	}
	@include MQ(MD) {
		.sideinfo {
			padding: 1px 15px 15px;
			margin-top: 0;
		}
	}


	.fb-comments {
		margin-top:50px;
		margin-left: 10px;
	}
}