
.breadcrumbs {
	margin-bottom: 12px;
	margin-top: 0;
	padding-top: 0;

	a {
		border: solid 2px #464646;
		padding:5px 10px;
		// border-right: none;
		color:black;
	}

	a.current {
		color:white;
		background-color: #464646;
	}
}


.white-container {
	padding: 14px 30px 20px;
	margin: 10px 0px 20px;
	background: white;
}

.article {
	.ingress {
		font-weight: bold;
	}


	.slideshow{
		padding: 25px 0 5px;
	}

	.content{
		padding-top: 20px
	}

	.info{
		border: solid 1px;
	    padding: 20px 10px;
	    margin: 20px 0;

		p{font-size: 14px;}
	    .minifont{
		    padding-top: 10px;
		    color: black;
	    }
	}
	h1 {
		text-align: left
	}
	h3 {
	  font-size: 20px;
	  font-weight: bold;
	}
}