
.breadcrumbs {
	margin-bottom: 12px
}


.white-container {
	padding: 14px 30px 20px;
	margin: 10px 0px 20px;
	background: white;
}

.article {
	.ingress {
		font-weight: bold;
	}


	.slideshow{
		padding: 25px 0 5px;
	}

	.content{
		padding-top: 20px
	}

	.info{
		border: solid 1px;
	    padding: 20px 10px;
	    margin: 20px 0;

		p{font-size: 14px;}
	    .minifont{
		    padding-top: 10px;
		    color: black;
	    }
	}
	h3 {
  font-size: 20px;
  font-weight: bold;
}
}