@import 'https://fonts.googleapis.com/css?family=Raleway:300,400,600';

body {
  font-family:'Raleway', sans-serif;;
  font-size: $font-size;
  //font-weight: 300;
}



h1 {
    font-size: 50px;
    text-align: center;
    color: black;
    margin: 10px 0px 25px;
    font-weight: bold;
    //font-family: serif;
    //font-family: 'Pacifico', cursive;
    //font-family: 'Crimson Text', serif;
    //font-family: 'Libre Baskerville', serif;
    //font-family: 'Kaushan Script', cursive;
}

h2 {
  text-align: center;
  font-weight: 300;
  font-size: 40px;
}

h2.consize {
  font-weight: bold;
  text-align: left;
  font-size: 20px;
  padding-top:10px
}

p {
    font-weight: 300;
    line-height: 1.5;
    color: black;
    font-size: 15px;

    
}
  .strong {
    font-weight: bold;
  }
