//$footer-height: 420px;
footer {
  background-color: $background-top;
  p{color:#d4d4d4;}
  //height: $footer-height;
  text-align: center;
  
  .center {
    text-align: center;
  }
  .footer-content  {
      padding-bottom: 20px;
      padding-top: 20px;
      width: 100%
  }

  img {
    padding-bottom:15px;
    width:200px;
  }
}
