


.hero {
	//height:400px;
	background-color:gray;
    position: relative;
	// min-height: 100px;
	// max-height: 400px;
	overflow: hidden;

	// transition: max-height 1s;


	&.noImg {
		height: 300px;

		img{
			//display: none;
		}
	}

    .gradient {
        background-image:
        linear-gradient(
        to top,
        transparentize(black, 0.6), transparent 40%, transparent 60%,  transparentize(black, 0.7)
        );
        height: 100%;
        width: 100%;
        position: absolute;
        bottom: 0;

        &.fullpage {
        	background-image: none;
        	background-color: rgba(0,0,0,0.4);
        }
    }

	.imgCont{
		display: flex;
		align-items: center;
		max-height: 400px;

		.img, img {
			//overflow: hidden;
			width: 100%
		}
	}

	.background-hero {
		height: calc(60vh - #{$top-height-small});
		background-size:cover;

		div.welcome{
			position: absolute;
			top: 30%;

			width:100%;
			text-align: center;

			&, h1 {
				color: white;
			}

			h1 {
				font-size: 40px;
				font-weight: bold;
				@include MQ(SM) {
					& {
						font-size: 50px;
					}
				}
			}

			span {
				font-size: 20px;
				@include MQ(SM) {
					& {
						font-size: 25px;
					}
				}
			}

			animation:fadeandmoveup ease 0.8s;

		}
		a.icon-arrow {
			display: none;
		    position: absolute;
		    z-index: 100;
		    bottom: 45px;
		    left: 50%;
		    margin-left: -22px;
		    width: 44px;
		    height: 44px;

		    -webkit-transform: rotate(-45deg);
		    -ms-transform: rotate(-45deg);
		    transform: rotate(-45deg);

		    -webkit-animation: bounce 4s 2s infinite;
		    animation: bounce 4s 2s infinite;

		    div{
		    	position: absolute;
		    	top: 13px;
		    	left: 8px;
		    	right: 13px;
		    	bottom: 8px;
		    	margin: 0;
		    	padding: 0;
		    	width:auto;
		    	border-color: rgba(255,255,255,0.8);
		    	border-style: none none solid solid;
		    	border-width: 3px;
		    }

		    &:hover div {
		    	border-color: rgba(255,255,255,1);
		    }

		    @include MQ(SM) {
				&{
					display:block;
				}
			}

		}
	}
	@include MQ(SM) {
		.background-hero {
			height: calc(100vh - #{$top-height-big});
			background-size:cover;
		}
	}







}
