html, body{
	margin:0;
	padding:0;
	height: 100%;
	// overflow-x: hidden;
}
body{
}

#wrapper {
   min-height:100%;
   position:relative;
}

.container {
	max-width: $max-page-width;
}


.container-fluid.space {
	padding: 0px;
}

.hidden {
	display: none
}

.main-section {
	margin-top: 30px;
	margin-bottom: 30px + $footer-height;
	
}

.spons {
	margin-top:50px;
	text-align:center;
}


.floatingboat {
	.image {
		img {
			width: 100%;
			height: auto;
		}
	}

	background-color: white;
	border: solid 1px #dce5eb;
	margin-bottom:25px;
	padding: 0px;

	.space {
		padding: 10px 15px;
	}
}
@include MQ(SM) {
	.floatingboat {
	    .image {
	        img {
	            width: 100%;
	            height: auto;
	            max-width: 240px;
	        }
	    }

	    background-color: white;
	    border: solid 1px #dce5eb;
		margin-bottom:25px;
		padding-right: 10px;
	}
}

.motherboat{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin:0 -25px -25px;

}
.betaboat {
	flex-basis:250px;
	flex-grow:1;

	animation:fadeandmoveup 0.5s;

	&:empty {
		height:0
	}

	.image {
		img {
			width: 100%;
			height: auto;
		}

		min-height: 200px
	}

	margin:0 25px 25px;
	padding: 0px;

	.space {
		padding: 10px 15px;
	}

	h3 {
		// font-weight: bold;
		font-size:26px;
		color: black;
	}
	
}
@include MQ(SM) {
	.betaboat {
	    
	}
}

.promorow {
	padding:50px 0px 50px;
}

.promo {
	text-align: center;

	&.animation {
		// position: relative;
		// left: 200px;
			visibility: hidden;

		&.start {
			position: relative;
			animation:flyfadein 0.6s;
			visibility: visible;
		}
	}

	h3 {
		font-weight: bold;
		color: black;
	}

	a {
		color:white;text-decoration: none;
	}
	padding-bottom:14px
}