
p{
	a:link, a:visited{
	color: #3a3aef;
	text-decoration: underline;
	
}
}

a:hover {
	text-decoration: underline;
}

a:active {
	color:#751304;
}

a.btn-default {
	&:link,&:visited {
		color: black;
	}
}