{% extends "layouts/default.html" %}


{% block content %}

<h1>Blogg</h1>


{% for post in posts %}
<!-- <pre>{{turs}}</pre> -->
<div class="content-white blogg article">
    <a href="/blogg/{{post.slug}}"><h2>{{post.tittel}}</h2></a>
    <p class="dato">{{post._.dato.format('DD. MMM YYYY')}}</p>

	{% if post.bilder.length %}
	<div class="slideshow">
	<ul class="light-slider">
		{% for b in post.bilder %}
		<li data-thumb="{{b.src({height:50,width:100,crop:'fill'})}}">
			<img style="width:100%" src="{{b.fill('750', '400', {gravity:'auto'})}}">
		</li>
		{% endfor %}
	</ul>
	</div>
	{% endif %}


	<div class="content">{{post.innhold.full}}</div>
</div>
{% endfor %}

{% endblock %}
{% block js %}
	{% include "includes/light-slider.html" %}
{% endblock %}